[Unit]
Description=matrix-puppet-skype
After=matrix-synapse.service

[Service]
Type=simple
WorkingDirectory=/path/to/matrix-puppet-skype
ExecStart=/path/to/matrix-puppet-skype/start.sh

Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=matrix-puppet-skype

EnvironmentFile=-/etc/default/matrix-puppet-skype
PermissionsStartOnly=true
LimitNOFILE=4096
IgnoreSIGPIPE=false
User=matrix-synapse

[Install]
WantedBy=multi-user.target
